#### Add your code below following the instructions given in the course

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h2> Arjun sawant</h2><br>


I am a student and want to make career in Data science field. I want to work as a data scientist in IT Tech Companies.

*I am interested in data science because data i want to work in big companies and understand how they manage huge amount of data and also take out insights from it*

<h3>This Code will display random numbers between a given range</h3>

In [7]:
import random
a=random.randint(0,10)  #Generate random number between 0 to 10
print(a)

8

<h2>List of countries</h2>

<ol>
<li>India</li>
<li>USA</li>
<li>UK</li>
<li>FRANCE</li>
</ol>

<table style="width:20%">
<tr>
<th><Name></th>
<th><Address></th>
<th><Salary></th>
</tr>

<tr>
<td><Hanna></td>
<td><Brisbane></td>
<td><4000></td>
</tr>

<tr>
<td><Adam></td>
<td><Sydney></td>
<td><5000></td>
</tr>
</table>

<hr>